@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  min-width: 1200px;
  font-family: var(--font-k2d);
}

#inputBox {
  background-color: grey;
}

#title {
  font-family: var(--font-eduFont);
}

.fade-message {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-message.show {
  opacity: 1;
}

.fade-in {
  transform: translateY(-10px);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards; /* Adjust duration as needed */
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    scale: 1.05;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 2s ease-in-out forwards; /* Adjust duration as needed */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a202c;
}

.borderTest {
  border: 40px solid white;
  border-image-repeat: round;
  border-image-slice: 180;
  border-image-source: url(../public/image/borderTest.png);
  /* border-image-source: url("https://img.freepik.com/free-vector/elegant-background-with-decorative-gold-frame-design_1048-15490.jpg?t=st=1732263289~exp=1732266889~hmac=0f3a6847ea505794b2030343a74aa78275b1d63c74441e5ec7bc691d0ff99943&w=740"); */
}

.gameBorderDaySmall {
  border-image-slice: 58 66 56 69;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  /* border-image-source: url(../public/borderImg/border1.png); */
  border-style: solid;
  border-image-source: url(../public/borderImg/border3.png);
}

.gameBorderDayBig {
  border-image-slice: 58 66 56 69;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  /* border-image-source: url(../public/borderImg/border1.png); */
  border-style: solid;
  border-image-source: url(../public/borderImg/border4.png);
}
